$font: 'Arial', sans-serif;
$white: #fff;
$black: #000;
$focus: gray;
$defaultResponsiveMaxWidth: 900px;

// ie11
@mixin ie11() {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

// ieEdge
@mixin ieEdge() {
    @supports (-ms-ime-align: auto) {
        @content;
    }
}

// responsive
@mixin responsive($width: $defaultResponsiveMaxWidth, $type: 'max-width') {
    @media screen and (#{$type}: $width), screen and (orientation: portrait) {
        @content;
    }
}

// print
@mixin print() {
    @media print {
        @content;
    }
}

// responsiveAndPrint
@mixin responsiveAndPrint($maxWidth: $defaultResponsiveMaxWidth) {
    @media print, screen and (max-width: $maxWidth), screen and (orientation: portrait) {
        @content;
    }
}

// transition
@mixin transition($prop, $duration: 0.3s, $timing: null) {
    transition: $prop $duration;
    -webkit-transition: $prop $duration $timing;
    -moz-transition: $prop $duration $timing;
    -o-transition: $prop $duration $timing;
    -ms-transition: $prop $duration $timing;
}

// transitionCancel
@mixin transitionCancel() {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
}

// transitions
@mixin transitions($props...) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -ms-transition: $props;
    -o-transition: $props;
    transition: $props;
}

// inputs
@mixin inputs() {
    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='url'],
    input[type='tel'] {
        @content;
    }
}

// inputPlaceholder
@mixin inputPlaceholder() {
    &::placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

// inputsTextarea
@mixin inputsTextarea() {
    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='url'],
    input[type='tel'],
    textarea {
        @content;
    }
}

// inputRadioCheckbox
@mixin inputRadioCheckbox() {
    input[type='radio'],
    input[type='checkbox'] {
        @include wh(1px);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 0;
    }
}

// inbl
@mixin inbl($verticalAlign: middle, $width: null) {
    display: inline-block;

    @if ($verticalAlign) {
        vertical-align: $verticalAlign;
    }

    @if ($width) {
        width: $width;
    }
}